@font-face {
    font-family: "Tiempos Headline";
    src: url(./TiemposHeadline-Black.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url(./TiemposHeadline-Medium.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url(./TiemposHeadline-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

body {
    /* background-color: rgb(253, 206, 120); */
    background-color: #fccd76;
    background-image: url("./topography.svg");
    /* fill-opacity: 40%; */
    /* fill: #fbecd0; */
    /* opacity: 0.5; */
    /* background-color: rgb(240, 235, 210); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-family: "Tiempos Headline";

    transition: all 0.15s;
    /* color: rgb(229, 158, 109); */
}

#night-mode-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
    background-color: bisque;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

#night-mode-button {
    color: rgb(162, 105, 0);
}

#landing {
    /* position: absolute; */
    height: 100vh;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pfp {
    border-radius: 50%;
    width: 200px;
    transition: transform .1s ease-in-out;
    margin-bottom: 20px;
}

#pfp:hover {
    transform: rotate(3deg) scale(1.05);

}

h1,
h2,
h3 {
    cursor: default;
}

a {
    color: inherit;
    text-decoration: none;
    transition: text-decoration 0.1s;
    cursor: pointer;
}

h1 {
    font-size: 40pt;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: color, 0.3s;
    text-decoration: none;
    color: inherit;
}

#picker a {
    font-family: "Tiempos Headline";
    font-size: 14pt;
    font-weight: 500;
    padding: 10px;
    transition: color, 0.3s;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#name-box {
    top: 0px;
    position: sticky;
    transition: background-color 0.15s;
}

#name {
    font-weight: 800;
    font-size: 3.5em;
}

.header-bg {
    background-color: rgb(255, 191, 72);
    /* font-size: 2em; */
}

.header-bg-night {
    background-color: rgb(162, 105, 0);
}

#frontpage-spacer {
    margin-bottom: 30vh;
}

.night-mode {
    background-color: rgb(114, 74, 0);
    color: rgb(255, 191, 72) !important;
    background-color: #7b5000;
    /* background-image: url("./topography.svg"); */
}




.content-container {
    padding: 30px;
    margin: 20px;
    border-radius: 7%;
}

.content {
    max-width: 550px;
    margin: auto;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}





@media screen and (max-width: 600px) {
    h1 {
        font-size: 25pt;
    }

    h2 {
        font-size: 15pt;
    }

    img {
        transform: scale(0.7);
    }
}